@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);


#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
}
#header1-1 H1 {
  font-family: 'Oxygen', sans-serif;
}



#menu-3 .mbr-brand__name {
  font-size: 16px;
}
#menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-c .mbr-header__text {
  color: #e25041;
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-c .mbr-article {
  color: #ffffff;
}
#msg-box4-c .mbr-article P {
  color: #28324e;
  font-family: 'Oxygen', sans-serif;
}



#menu-5 .mbr-brand__name {
  font-size: 16px;
}
#menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-5 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-5 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-5 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-b .mbr-header__text {
  color: #e25041;
  font-family: 'Oxygen', sans-serif;
}
#msg-box4-b .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-b .mbr-article {
  color: #ffffff;
}
#msg-box4-b .mbr-article P {
  color: #28324e;
  font-family: 'Oxygen', sans-serif;
}

#menu-7 .mbr-brand__name {
  font-size: 16px;
}
#menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-7 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-7 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
}
#content5-e .mbr-header .mbr-header__text {
  text-align: center;
  color: #e25041;
}
#content5-e .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-e .mbr-article {
  color: #ffffff;
  text-align: center;
}


#menu-9 .mbr-brand__name {
  font-size: 16px;
}
#menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-9 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-9 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
}
#social-buttons2-j .mbr-header__text {
  font-family: 'Oxygen', sans-serif;
  color: #e25041;
}
